@charset "UTF-8";

/*Typical device Brakpoint
mobile: até 480px
iPads, Tablets: até 768px
small screens, laptops: até 1024px
Desktop, large screens: até 1200px
Extra large screens, TV: 1201px and more*/

@media screen and (min-width: 768px){
    menu > ul{
        width: 491px;
    }

    #burguer{
        display: none;
    }

    header > menu{
        display: block;
    }

    header > menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}

