@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html , body{
    
}

body{
    background-color: #3363E7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

menu{
    box-shadow: 1px 2px 4px black;
    padding: 20px;
    color: white;
    background-color: #284DB5;
 }
 
 menu > p{
     display:block;
     text-align: center;
     padding: 5px;
 }

.conta{
    margin-bottom: 30px;
    text-align: end;
}

.wistia{
    display: inline-block;
    text-align: left;
    margin-right: 130px;
    color: white;
}

.login{
    display: inline-block;
    background-color: white;
    color: gray;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 10px;
}

.login > p{
    padding: 10px;
    width: 100px;
    text-align: center;
}

.getstarded{
   
    background-color: #264ACA;
    display: inline-block;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 10px;
}

.getstarded > p {
    color: white;
    padding: 10px;
    width: 100px;
    text-align: center;
}


main > article{
    padding-top: 20px;
    color: white;
    margin: auto;
    width: 300px;
}

main > article > h1 , p{
    text-align: center;
}

main > article > h1{
    font-size: 2.5em;
    font-weight:lighter;
    text-align: justify;
    padding-bottom:20px;
}

main > article > p{
    font-size: 1.2em;
    text-align:justify ;
}

main > div > video{
    display: block;
    margin: auto;
    height: 300px;
    width: 400px;
}

.acessar{
    display:block;
    text-align: center;
    padding-bottom: 46px;
}

.acessar > p{
    display: inline-block;
    padding: 20px;
    width: 150px;
    margin-top: 30px;
}

.tryforfree{
    color: white;
    font-weight: bolder;
    background-color: #E75C9E;
}

.exploreourplans{
    color: #E75C9E;
    background-color: white;
    font-weight: bolder;
}

footer{
    background-color: #284DB5;
    
}

