@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(-45deg, #4F5DD7, #C2368C, #D93690, #F2594B, #F2B263 );
}

main{
    background-color: rgba(169, 169, 169, 0.479);
    width: 60%;
    margin:auto ;
    padding: 10%;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
}
h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    
}

    
